@model LapZone.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>

    <style>
        body {
            background-color: #fff;
            color: #1e1f29;
            margin: 0;
            padding: 0;
        }

        .container-change-password {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            margin-bottom: -10px;
        }

        h2 {
            margin-top:-40px;
            color: #1e1f29;
        }

        .alert {
            text-align: center;
            margin-right: 50px;
            margin-left: 50px;
        }

        .change-password-card {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            background-color: #fff;
            color: #1e1f29;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            position: relative;
            padding: 10px;
        }

        .form-group {
            text-align: left; /* Center-align the content within the form-group */
        }

            .form-group label {
                margin-left:112px;
                font-size:1.2rem;
                color: #1e1f29;
            }

        .form-control {
            width: 50%;
            margin: 0 auto; /* Center-align the form control */
            background-color: #fff;
            color: #1e1f29;
            border-color: #1e1f29;
            border-radius: 5px;
            margin-bottom: 10px;
        }

            .form-control:focus {
                background-color: #fff;
                color: #1e1f29;
                border-color: #1e1f29;
            }

        .btn-primary {
            border-radius: 5px;
            margin-top: 20px;
            background-color: #d10024;
            font-size: 1.8rem;
            font-weight: 500;
            border-color: #d10024;
        }

            .btn-primary:hover {
                background-color: #1e1f29;
                color: #fff;
            }

        .confirmation-checkbox {
            margin-top: 10px;
        }

            .confirmation-checkbox label {
                color: #1e1f29;
            }

        .error-message {
            color: #d10024;
            font-weight: bold;
            margin-top: 10px;
        }

        .back-button {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 0px;
            margin-left: 5px;
            margin-bottom: 30px;
            font-size: 10px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #d10024;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .back-button:hover {
                color: #fff;
                background-color: #1e1f29;
            }
    </style>

</head>
<body>

    <div class="container-change-password">
        <h2 class="text-center mb-4">Change Password</h2>

     
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }


        <div class="card change-password-card">

            <a asp-action="UpdateProfile" class="back-button"><i class="bi bi-arrow-bar-left"></i> Personal information</a>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p style="text-align:center;" class="error-message">@ViewBag.ErrorMessage</p>
            }
            <!-- Change Password Form -->
            <form asp-action="ChangePassword" method="post">

                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" required />
                  
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required asp-validation-for="newPassword" />
                 </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

            <div class="error-message" id="errorMessage"></div>
        </div>
    </div>


</body>
</html>