@model LapZone.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Profile</title>

    <style>
        body {
            background-color: #fff;
            color: #1e1f29;
            margin: 0;
            padding: 0;
        }

        .container-update-profile {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
        }

        h2 {
            color: #1e1f29;
            margin-top: -50px;
        }

        .alert {
            text-align:center;
            margin-right:50px;
            margin-left:50px;
        }

        .update-profile-card {
            max-width: 600px;
            margin: 0 auto;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
            transition: 0.3s;
            background-color: #fff;
            color: #1e1f29;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            position: relative;
            padding: 20px;
            padding-top: 50px;
        }

        .profile-image {
            margin-top: 5px;
            padding-bottom: -10px;
            margin-bottom: -10px;
            border-radius: 50%;
            overflow: hidden;
            width: 250px;
            height: 250px;
            margin: 0 auto;
        }

            .profile-image img {
                border-radius: 50%;
                width: 250px;
                height: 250px;
                object-fit: cover;
                border: 2px solid #1e1f29;
            }

        .form-group label {
            color: #1e1f29;
        }

        .form-control {
            background-color: #fff;
            color: #1e1f29;
            border-color: #1e1f29;
            border-radius: 5px;
            margin-bottom: 10px; /* Added margin between form controls */
        }

            .form-control:focus {
                background-color: #fff;
                color: #1e1f29;
                border-color: #1e1f29;
            }

        .btn-primary,
        .btn-secondary {
            border-radius: 5px;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #d10024;
            font-size:1.8rem;
            font-weight:500;
            border-color: #d10024;
        }

            .btn-primary:hover {
                background-color: #1e1f29;
                color: #fff;
            }

        .btn-secondary {
            color: #F4D160;
            font-weight: 600;
            font-size: 1.6rem;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /* Adjust the shadow values as needed */
        }



        .change-password-btn {
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            padding: 2px;
            margin-top: -30px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

            .change-password-btn:hover {
                color: #0060;
            }


        .custom-file {
            position: relative;
            overflow: hidden;
            color: #001;
            margin-top: 10px;
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .custom-file-input {
            position: absolute;
            top: 0;
            right: 0;
            color: #001;
            margin: 0;
            opacity: 0;
        }

        .custom-file-label {
            display: inline-block;
            cursor: pointer;
            padding: 8px 12px;
            background-color: lightgray;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
        }

            .custom-file-label:hover {
                background-color: darkgray;
            }

        .my-profile-link {
            color: #d10024;
            font-weight: bold;
            position: absolute;
            margin-top:-10px;
            top: 10px;
            left: 10px;
            text-decoration: none;
            transition: color 0.3s;
        }

            .my-profile-link:hover {
                color: #1e1f29;
            }

           
    </style>

</head>
<body>

    <div class="container-update-profile">

        <h2 class="text-center mb-4">Update Profile</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div class="row">

            <!-- Combined Information and Photo Card -->
            <div class="col-md-12">
                <div class="card update-profile-card">
                    <div class="card-body">
                        <div class="change-password-btn">
                            <a asp-controller="UserProfile" asp-action="ChangePassword" class="btn btn-secondary">Change Password <i class="bi bi-key-fill"></i></a>
                        </div>
                        <a asp-controller="UserProfile" asp-action="Index" class="my-profile-link"><i style="font-size:3rem" class="bi bi-person-fill-gear"></i></a>
                        <!-- Personal Information Section -->
                        <form asp-action="UpdateProfile"  method="post" enctype="multipart/form-data">

                            <div style="margin-top:20px;" class="form-group">
                                <label asp-for="FullName">Full Name</label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <!-- Profile Photo Section -->
                            <h5 class="card-title mt-4">Profile Photo</h5>
                            <div class="profile-image">
                                <img id="photoPreview" src="~/Images/Users/@Model.ImagePath" alt="@Model.FullName">
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" asp-for="clientFile" accept="image/*" onchange="updateFileNameAndPreview()">
                                    <label class="custom-file-label" id="photoLabel" for="clientFile">Upload new photo</label>
                                </div>
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.clientFile)</span>
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script>

        function updateFileNameAndPreview() {
            var input = document.getElementById('clientFile');
            var label = document.getElementById('photoLabel');
            var preview = document.getElementById('photoPreview');

            if (input.files.length > 0) {
                label.innerHTML = input.files[0].name;

                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                label.innerHTML = 'Choose a photo';
                preview.src = '~/Images/Users/' + '@Model.ImagePath'; // Restore the original photo
            }
        }
    </script>

</body>
</html>
