@model Category

<form method="post" enctype="multipart/form-data">
    <input asp-for="CategoryId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>

        <div class="am-3 row p-1">
            <label asp-for="CategoryName" class="p-0"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="am-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="am-3 row p-1">
            <label asp-for="clientFile" class="p-0">Image:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" asp-for="clientFile" onchange="loadFile(event)">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="clientFile" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary" form-control>Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border" form-control>
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
