@model List<Category> //here m smool
<!-- we use at sign to write cs in  html file-->

<h3 style="margin:25px;text-align:center">Welcome to category list </h3>


<div class="container">
    <div class=" row pt-4 pb-2">
        <div class="col-6">
            <h2 class=" text-primary">
                <!--<i class="bi bi-plus-circle"></i>-->
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class=" btn btn-danger" style="margin:25px">
                <i class="bi bi-plus-circle"></i> Create New Category </a>
        </div>
    </div>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


    <table>
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th></th><!-- for edit and delete-->
           
        </tr>
    </thead>

    <tbody>
            
            @foreach(var obj in Model.OrderBy(x=>x.CategoryName))// here  M capital
            {
            <tr>
                <td>@obj.CategoryName</td>
               
                <td>@obj.Description</td>
           
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.CategoryId" class="btn btn-dark mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                    </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.CategoryId" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i>Delete
                            </a>

                </div> 

            </td>
               
                </tr>
            }
          
    </tbody>
        
        
    </table>

</div>