                                            @* Cart *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <style>
        .title {
            margin-bottom: 15vh;
            font-size: 3rem;
        }

        .cart {
            background-color: #fff;
            padding: 10vh 12vh;
            border-bottom-left-radius: 2rem;
            border-top-left-radius: 2rem;
        }

        .summary {
            background-color: #ddd;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding: 10vh;
            color: rgb(65, 65, 65);
        }

        .row {
            margin: 0;
        }

        .title b {
            font-size: 3rem;
        }

        .col-2,
        .col {
            padding: 0 4vh;
        }

        .close {
            margin-left: auto;
            font-size: 1.5rem;
        }

        img {
            width: 7rem;
        }

        .back-to-shop {
            margin-top: 12.5rem;
            font-size: 1.5rem;
        }

        h5 {
            margin-top: 10vh;
            font-size: 2rem;
        }

        hr {
            margin-top: 5vh;
        }

        input {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 5vh 4vh;
            
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
            font-size: 1.5rem;
        }



        .btn {
            background-color: #15161D;
            border-color: #15161D;
            color: white;
            width: 100%;
            font-size: 1.5rem;
            margin-top: 10vh;
            padding: 3vh;
            border-radius: 1rem;
        }
        .btn:hover{
            color:red;
        }
        a {
            color: black;
            font-size: 1.5rem;
        }

            a:hover {
                color: black;
                text-decoration: none;
            }

        #code {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    </div>
                </div>
                @* <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                <div class="col-2"><img class="img-fluid" src="Images/product01.png"></div>
                <div class="col">
                <div class="row text-muted">labtop </div>
                <div class="row">MacBook Pro</div>
                </div>
                <div class="col"></div>
                <div class="col">$44.000 <span class="close">&#10005;</span></div>
                </div>
                </div> *@
                <div class="row main align-items-center" style="font-size: 2rem; padding: 3vh 0; margin: 2vh 0;">
                    <div class="col-2"><img style="width: 25rem; class="img-fluid" src="~/Images/Products/wp8897664-zephyrus-wallpapers.jpg"></div>
                    <span class="close" style="font-size: 3rem; color: darkred;">&#10005;</span>
                    <div class="col" style="font-size: 2rem;">
                        <div class="row text-muted">Laptop</div>
                        <div class="row">ASUS Laptop</div>
                    </div>
                    <div class="col" style="font-size: 2rem;">
                        <span>Quantity: 1</span>
                    </div>
                    <div class="col" style="font-size: 2.5rem;">
                        $36.000 
                    </div>
                </div>
                <div class="row main align-items-center" style="font-size: 2rem; padding: 3vh 0; margin: 2vh 0;">
                    <div class="col-2"><img style="width: 25rem; class="img-fluid" src="~/Images/Products/wp8897664-zephyrus-wallpapers.jpg"></div>
                    <span class="close" style="font-size: 3rem; color: darkred;">&#10005;</span>
                    <div class="col" style="font-size: 2rem;">
                        <div class="row text-muted">Laptop</div>
                        <div class="row">ASUS Laptop</div>
                    </div>
                    <div class="col" style="font-size: 2rem;">
                        <span>Quantity: 1</span>
                    </div>
                    <div class="col" style="font-size: 2.5rem;">
                        $36.000
                    </div>
                </div>
                <div class="row main align-items-center" style="font-size: 2rem; padding: 3vh 0; margin: 2vh 0;">
                    <div class="col-2"><img style="width: 25rem; class="img-fluid" src="~/Images/Products/wp8897664-zephyrus-wallpapers.jpg"></div>
                    <span class="close" style="font-size: 3rem; color: darkred;">&#10005;</span>
                    <div class="col" style="font-size: 2rem;">
                        <div class="row text-muted">Laptop</div>
                        <div class="row">ASUS Laptop</div>
                    </div>
                    <div class="col" style="font-size: 2rem;">
                        <span>Quantity: 1</span>
                    </div>
                    <div class="col" style="font-size: 2.5rem;">
                        $36.000
                    </div>
                </div>
                <div class="row main align-items-center" style="font-size: 2rem; padding: 3vh 0; margin: 2vh 0;">
                    <div class="col-2"><img style="width: 25rem; class="img-fluid" src="~/Images/Products/8-bit City_1920x1080.jpg"></div>
                    <span class="close" style="font-size: 3rem; color: darkred;">&#10005;</span>
                    <div class="col" style="font-size: 2rem;">
                        <div class="row text-muted">Laptop</div>
                        <div class="row">ASUS Laptop</div>
                    </div>
                    <div class="col" style="font-size: 2rem;">
                        <span>Quantity: 1</span>
                    </div>
                    <div class="col" style="font-size: 2.5rem;">
                        $36.000
                    </div>
                </div>

                <div style="font-size: 3rem"; class="back-to-shop"><a style="font-size: 4rem" ; asp-controller="ProductStore" asp-action="Index">&leftarrow;</a><span class="text-muted">Go to shop</span></div>
            </div>
          <div class="col-md-4 summary" style="font-size: 1.5rem; padding: 2vh;">
   @*  <div><h5><b>Summary</b></h5></div>
    <hr>

    <form style="margin-bottom: 2vh;">
      
        <p style="font-size: 1.5rem; margin-top: 2vh;">GIVE CODE</p>
        <input id="code" placeholder="Enter your code" style="font-size: 1.5rem;">
    </form> *@
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col" style="font-size: 3rem;">TOTAL PRICE</div>
        <div class="col text-right" style="font-size: 3rem;">$120.000</div>
    </div>
                <form action="@Url.Action("Index", "Checkout")">
                    <button type="submit" class="btn" style="font-size: 1.5rem;">CHECKOUT</button>
                </form>
            </div>

    </div>
</body>
</html>
