@model LapZone.Models.Address

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .custom-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: -50px;
        }

        .custom-card {
            width: 600px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .custom-card-header {
            background-color: #f8f9fa;
            padding: 15px;
            border-bottom: 1px solid #ccc;
        }

        .custom-card-body {
            padding: 20px;
        }

        .custom-form-group {
            margin-bottom: 20px;
        }

        .custom-btn-primary {
            color: white;
            background-color: #1e1f29;
        }

            .custom-btn-primary:hover {
                color: white;
            }

        .back-button {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 20px;
            margin-left: 20px;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #d10024;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .back-button:hover {
                color: #fff;
                background-color: #1e1f29;
            }
    </style>
</head>
<body>
    <a asp-action="Index" class="back-button"><i class="bi bi-arrow-bar-left"></i> Addresses List</a>

    <div class="custom-container mt-5">
        <div class="custom-card">
            <div class="custom-card-header">
                <h2>Add Address</h2>
            </div>
            <div class="custom-card-body">
                <form asp-action="Create" method="post" id="createAddressForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="custom-form-group">
                        <label asp-for="Country" class="control-label">Country</label>
                        <input asp-for="Country" class="form-control" required />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="custom-form-group">
                        <label asp-for="Governorate" class="control-label">Governorate</label>
                        <input asp-for="Governorate" class="form-control" required />
                        <span asp-validation-for="Governorate" class="text-danger"></span>
                    </div>

                    <div class="custom-form-group">
                        <label asp-for="City" class="control-label">City</label>
                        <input asp-for="City" class="form-control" required />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="custom-form-group">
                        <label asp-for="AddressLine" class="control-label">Address Line</label>
                        <input asp-for="AddressLine" class="form-control" required />
                        <span asp-validation-for="AddressLine" class="text-danger"></span>
                    </div>

                    <div class="custom-form-group">
                        <button type="submit" class="btn custom-btn-primary">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
